[user]
	name = "Oleksandr Khomenko"
	email = okhomenko@gmail.com
[alias]
	co = checkout
	d = diff -M
	ci = commit
	st = status
	logg = log --pretty=format:'%Cgreen%ad%Creset %C(yellow)%h%Creset%C(red)%d%Creset %s %C(cyan)[%an]%Creset %Cgreen(%ar)%Creset' --date=short --graph
	dt = difftool
[apply]
	whitespace = nowarn
[color]
	branch = auto
[core]
	autocrlf = input
	editor = subl
[diff]
	tool = subl
[difftool]
	prompt = false
[push]
	default = simple
